<footer class="site-footer">

  <div class="container">
    <div class="row">
        <div class="col-md-4">
           <h4>Get in touch</h4>
            <a href="http://twitter.com/realmunsterberg"><img src="/img/twitter.png" alt=""></a>
            <a href="http://facebook.com/jakeisamazing1"><img src="/img/facebook.png" alt=""></a>
            <a href="https://www.linkedin.com/profile/view?id=321613562&trk=hp-identity-photo"><img src="/img/linkedin.png" alt=""></a>
            <a href="http://github.com/Munsterberg"><img src="/img/github.png" alt=""></a>
            <a href="https://www.youtube.com/channel/UCSTJqWLQKkz9Z-CDAESZm7w"><img src="/img/you-tube.png" alt=""></a>
            <a href="http://vimeo.com"><img src="/img/vimeo.png" alt=""></a>
            <br />
            <br />
            <a href="mailto:jake@nerdorade.com">jake@nerdorade.com</a>
        </div>
        <h4>Tidbit about me</h4>
        <div class="col-md-4">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/0ad/218/332b022.jpg" alt="" id="profile-image">
        </div>
        <div class="col-md-4" style="text-align: left;">
            <p>Currently working as a freelance web developer. With skills in HTML, CSS, Javascript, Ruby, PHP, Python, C++, and Java. I am very focused on the MEAN (MongoDB, Express, Angular, Node.js) development stack recently.</p>
        </div>
    </div>



  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61912737-1', 'auto');
  ga('send', 'pageview');

</script>

</footer>
